# Ignore binaries and objects from the build
*/bin
*/obj
*.dll
*.pdb

# Ignore bindings but keep the directory
*/bindings/*
!*/bindings/.gitkeep

# Ignore local settings (might not be correct)
ResoniteSplitPlugin.sln.DotSettings.user
.idea